# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Instaloader files
# Bu yerga instagram profilingiz nomi yozilgan fayl tushadi
*.session
*.json.xz
downloads/

# IDE files
.idea/
.vscode/
